<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net46" />
  <package id="Microsoft.Toolkit.Uwp.Notifications" version="1.1.0" targetFramework="net452" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="3.4.3" targetFramework="net46" developmentDependency="true" />
  <package id="QueryString.NET" version="1.0.0" targetFramework="net46" />
  <package id="Splat" version="1.6.2" targetFramework="net46" />
  <package id="squirrel.windows" version="1.4.4" targetFramework="net46" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net46" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net452" />
</packages>